<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add employee to task</title>
  </head>
  <body>
    <h1>Add employee to task</h1>
    <form action="/createAddemployeetotask" method="post" name="firstform">
      <div class="col" style="text-align: left">
        <div>
          <h3>Vælg employee</h3>
          <select class="form-control" id="userInfo" name="firstname">
            <option label=" ">none</option>
            <option
              th:each="employee : ${listEmployee}"
              th:value="${employee.getFirstname()}"
              th:text="${employee.getFirstname()}"
            ></option>
          </select>
          <br />

          <h3>Vælg task</h3>
          <select class="form-control" id="userInfo" name="taskname">
            <option label=" " value="0">none</option>
            <option
              th:each="task : ${tasksList}"
              th:value="${task.getTaskname()}"
              th:text="${task.getTaskname()}"
            ></option>
          </select>
          <br /><br />

          <input type="submit" value="Add to task" />
        </div>
      </div>
    </form>
    <br /><br/><br/>

    <section style="color:black">
      <table border="1" class="table table-striped table-responsive-md">
          <thead>
              <tr>
                  <th>
                      Employee
                  </th>
          </thead>
          <tbody>
              <tr th:each="employee : ${listEmployeeTask}" >
                  <td th:text="${employee.getFirstname()}"></td>
              </tr>
          </tbody>
      </table>
      <br>
      <table border="1" class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>
                    Task
                </th>
        </thead>
        <tbody>
            <tr th:each="task : ${listEmployeeTask}" >
                <td th:text="${task.getTaskname()}"></td>
            </tr>
        </tbody>
    </table>
      </div>
      </div>
  </section>
  </body>
</html>
