<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new task</title>
</head>
<body>
    <form action="#" method="post">
        <label for="taskname">Task name</label><br />
        <input type="text" id="taskname" name="taskname" /><br /><br />
  
        <label for="time">Time</label><br />
        <input type="text" id="time" name="time" /><br /><br />
  
        <label for="cost">Cost</label><br />
        <input type="text" id="cost" name="cost" /><br /><br />
  
        <label for="deadline">deadline</label><br />
        <input type="text" id="deadline" name="deadline" /><br /><br />

        <input type="submit" value="Create task" />
    
</body>
</html>