<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Project</title>
  </head>
  <body>
    <h1>Hello</h1>
    <!-- <form action="/postCreateProject" method="post">
      <label for="projectname">Project name:</label><br />
      <input type="text" id="projectname" name="projectname" /><br /><br />
      <input type="submit" value="Create Project!" />
    </form> -->
  </body>
</html>
