<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Employee</title>
  </head>
  <body>
    <form action="/postCreateEmployee" method="post">
      <label for="firstname">First name</label><br />
      <input type="text" id="firstname" name="firstname" /><br /><br />

      <label for="lastname">Last name</label><br />
      <input type="text" id="lastname" name="lastname" /><br /><br />

      <label for="email">Email</label><br />
      <input type="text" id="email" name="email" /><br /><br />

      <label for="address">Address</label><br />
      <input type="text" id="address" name="address" /><br /><br />

      <label for="postal">Postal</label><br />
      <input type="text" id="postal" name="postal" /><br /><br />

      <label for="city">City</label><br />
      <input type="text" id="city" name="city" /><br /><br />

      <label for="profession">Profession</label><br />
      <input type="text" id="profession" name="profession" /><br /><br />

      <label for="rate">Rate</label><br />
      <input type="text" id="rate" name="rate" /><br /><br />

      <label for="phone">Phone</label><br />
      <input type="text" id="phone" name="phone" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
