<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>My Employees</title>
</head>
<body>


    <section id="intro" class="main style1 light fullscreen" style="color:black">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>
                        Profilbillede</a>
                    </th>
                    <th>
                        Brugernavn</a>
                    </th>
                    <th>
                        Fornavn</a>
                    </th>
                    <th>
                        Efternavn</a>
                    </th>
                    <th>
                        Beskrivelse</a>
                    </th>
                    <th> Handlinger </th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td >hh</td>
                    <td >jj</td>
                    <td >jj</td>
                    <td >hh</td>
                    <td >jj</td>
                    <td>
                        <a  class="btn btn-primary">Update</a>
                        <a  class="btn btn-danger">Delete</a>
                        <a  class="btn btn-success">Send Message</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
    </section>
    
</body>
</html>