<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>My Tasks</title>
  </head>
  <body>
    <a href="/">
      <img
        th:src="@{img/Logo.png}"
        class="logo"
        src="/src/main/resources/static/img/Logo.png"
        style="
          display: block;
          margin: 0 auto;
          width: 250px;
          margin-bottom: -100px;
          margin-top: -30px;
        "
        alt="logo"
      />
    </a>
    <ul
      class="topnav"
      style="
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: greenyellow;
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        padding: 20px;
      "
    >
      <li>
        <a
          class="active"
          href="/projects"
          style="color: black; font-size: 20px; font-weight: bold"
          >My Project</a
        >
      </li>
      <li>
        <a
          href="/myemployees"
          style="color: black; font-size: 20px; font-weight: bold"
          >My Employees</a
        >
      </li>
      <li>
        <a
          href="/createProject"
          style="color: black; font-size: 20px; font-weight: bold"
          >New Project</a
        >
      </li>
      <li class="right">
        <a style="color: black; font-size: 20px; font-weight: bold" href="#"
          >Contact</a
        >
      </li>
    </ul>
    <br />
    <h1>My task</h1>

    <table border="1" class="table table-striped table-responsive-md">
      <thead>
        <tr>
          <th>Task</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="task : ${listEmployeeTask}">
          <td th:text="${task.getTaskname()}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
