<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Subtask</title>
  </head>
  <body> 
    <img
    th:src="@{img/Logo.png}"
    class="logo"
    src="/src/main/resources/static/img/Logo.png"
    style="display: block;
    margin: 0 auto; width: 250px; margin-bottom: 100px; margin-top: -30px;"
    alt="logo"
  />
    <ul class="topnav" style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: greenyellow; display: flex; justify-content: space-evenly; margin-top: 40px; padding: 20px;">
      <li><a class="active" href="/projects" style="color: black; font-size: 20px; font-weight: bold;">My Project</a></li>
      <li><a href="/myemployees" style="color: black; font-size: 20px; font-weight: bold;">My Employees</a></li>
      <li><a href="/createProject" style="color: black; font-size: 20px; font-weight: bold;">New Project</a></li>
      <li class="right"><a style="color: black; font-size: 20px; font-weight: bold;" href="#">Contact</a></li>
    </ul>
    <br>
    <div style="display: flex; margin-top: 30px; margin-bottom: 30px">
      <div th:each="tasks : ${tasksList}">
        <h2 th:text="${tasks.getTaskname()}"></h2>
      </div>
      <a href="/createSubtask"
        ><svg
          height="40px"
          width="40px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g data-name="Layer 2">
            <g data-name="plus-circle">
              <rect width="24" height="24" opacity="0" />
              <path
                d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"
              />
              <path
                d="M15 11h-2V9a1 1 0 0 0-2 0v2H9a1 1 0 0 0 0 2h2v2a1 1 0 0 0 2 0v-2h2a1 1 0 0 0 0-2z"
              />
            </g>
          </g></svg
      ></a>
    </div>
      
    <section style="color:black">
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>
                    Subtask
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date
                </th>
                <th>
                    Add employee
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subtasks : ${subtasksList}">
                <td th:text="${subtasks.getSubtaskname()}"></td>
                <td style="background-color: lawngreen;">Done</td>
                <td th:text="${subtasks.getDate}"></td>
                <td ><svg height="40px" width="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="plus-circle"><rect width="24" height="24" opacity="0"/><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/><path d="M15 11h-2V9a1 1 0 0 0-2 0v2H9a1 1 0 0 0 0 2h2v2a1 1 0 0 0 2 0v-2h2a1 1 0 0 0 0-2z"/></g></g></svg></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</section></body>
</html>
