<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Employee</title>
  </head>
  <body>
    <form
      action="#"
      th:action="@{/updateEmployee}"
      th:object="${employeeToView}"
      method="POST"
    >
      <input type="hidden" th:field="*{idemployee}" />

      <input
        type="text"
        id="firstname"
        th:field="*{firstname}"
        name="firstname"
      /><br /><br />

      <!-- <div th:insert="Fragments/header :: header"></div> -->

      <!--     <form class="form" action="/updateEmployee" method="POST">
      <input type="hidden" th:value="${employeeToView.getIdemployee()}" />
      <label for="firstname">First Name:</label><br />
      <input
        type="text"
        id="firstname"
        th:value="${employeeToView.getFirstname()}"
        name="firstname"
      /><br /><br /> -->

      <!-- <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname" th:field="*{lastname}"><br><br>
        
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" th:field="*{email}"><br><br>
        
        <label for="phone">Phone</label><br>
        <input type="text" id="phone" name="phone" th:field="*{phone}"><br><br>
        
        <label for="city">City</label><br>
        <input type="text" id="city" name="city" th:field="*{city}"><br><br>
        
        <label for="postal">Postal</label><br>
        <input type="text" id="postal" name="postal" th:field="*{postal}"><br><br>
        
        <label for="rate">Rate</label><br>
        <input type="text" id="rate" name="rate" th:field="*{rate}"><br><br>
        
        <label for="profession">profession</label><br>
        <input type="text" id="profession" name="profession" th:field="*{profession}"><br><br> -->

      <button type="submit" class="btn btn-info col-2">Update Employee</button>
    </form>
  </body>
</html>
