<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Employee</title>
  </head>
  <body>
    <form
      action="#"
      th:action="@{/updateEmployee}"
      th:object="${employeeToView}"
      method="POST"
    >
      <input type="hidden" th:field="*{idemployee}" />

      <input
        type="text"
        id="firstname"
        th:field="*{firstname}"
        name="firstname"
      /><br /><br />
      <input
        type="text"
        id="lastname"
        th:field="*{lastname}"
        name="lastname"
      /><br /><br />
      <input
        type="text"
        id="address"
        th:field="*{address}"
        name="address"
      /><br /><br />
      <input
        type="text"
        id="postal"
        th:field="*{postal}"
        name="postal"
      /><br /><br />
      <input type="text" id="city" th:field="*{city}" name="city" /><br /><br />
      <input
        type="text"
        id="profession"
        th:field="*{profession}"
        name="profession"
      /><br /><br />
      <input type="text" id="rate" th:field="*{rate}" name="rate" /><br /><br />

      <button type="submit" class="btn btn-info col-2">Update Employee</button>
    </form>
  </body>
</html>
